<div>         
        <ul class="list-group">
        	<h3 class="list-group-item"> The list of gossips </h3>
        	<% Gossip.all.each_with_index do |gossip,index| %>
    		<li class="list-group-item"><%= gossip.user.first_name %>
          								<%= gossip.title%>
          								<a href="/<%=index%>">Lien vers le potin</a> 	
          	</li>
		</ul>     
        <% end %>
</div>  



